body{
    background: #fcf1f1;
}

.box {
    display: flex;
    justify-content: space-between;
}

.member {
    width: 17%;
    background: #cfcfcf;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img {
    height: 250px;
}

/* 2 */
.boxCourses{
    margin-top: 15px;
    background: #dcd8ff;
    border: 5px solid red;
}

.cours, .hover, .month, .hour, .modules{
    margin: 5px;
    border: 3px solid #02417e;
    text-align: center;
    font-size: 24px;
}
.cours{
    border: 3px solid #8d002c;
}

.modules{
    text-align: left;
}

.month{
    width: 33%;
}
.hour{
    width: 66%;
}

.month_hour{
    display: flex;
    justify-content: space-between;
}


/*3*/
.menu{
    background: #56c3b6;
    font-size: 24px;
}

/*4*/
.item{
    background: #05cd51;
    font-size: 14px;
}
