hr{
    border: 5px solid #fcb7b7;
    width: 99%;
}

body {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #ffffbe;
}

img{
    width: 250px;
    height: 350px;
}