body {
    display: flex;
    flex-direction: column;
    width: 99%;
    background: #cfcfcf;
}

h1 {
    text-align: center;
}

.hOnew{
    background: #000000;
    border-radius: 15px;
    color: white;
    width: 100%;
    margin: 10px auto;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.user {
    background: white;
    margin: 20px;
    width: 35%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.box {
    display: flex;
    justify-content: space-evenly;
}

.userDetails {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #cfcfcf;
    text-decoration: none;
    color: white;
    font-size: 24px;
    border-radius: 15px;
}
.titles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pTitile{
    width: 100%;
}

.user-details {
    background: white;
    border: 1px solid white;
    border-radius: 25px;
    padding-left: 15px;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 15px;
    font-size: 14px;
    width: 90%;
    margin-left: 5%;
}

.postBTN {
    font-size: 10px;
    height: 25px;
    width: 75px;
    margin-right: 15px;
    border: 1px solid silver;
    border-radius: 15px;
}

.box {
    border: 1px solid white;
    justify-content: space-between;
    background: white;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 10px;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
}

.boxUser {
    border: 1px solid white;
    justify-content: space-between;
    background: white;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 10px;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    width: 48%;
    gap: 100px;
}



.postBox{
    background: white;
    padding-left: 20px;
    border-radius: 15px;
}

.home {
    width: 200px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

.more {
    width: 200px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.comment {
    background: #ffffff;
    font-size: 10px;
    width: 200px;
    margin-left: calc(10% - 100px);
    margin-right: calc(10% - 100px);
    box-sizing: border-box;
    padding: 5px;
    text-align: justify;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
