body{
    background: #fff5c0;
    padding: 15px;
}

.wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Century Gothic";
}

.header{
    box-sizing: border-box;
    height: 200px;
    width: 500px;
}

.footer{
    box-sizing: border-box;
    height: 400px;
    width: 500px;
}

.center{
    display: flex;
}

.center > div{
    box-sizing: border-box;
    height: 166px;
    width: 166px;
}

.text1{
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 80px;
    border: 5px solid white;
}

.text2{
    color: white;
    padding-top: 190px;
    font-size: 24px;
    text-align: center;
    border: 5px solid white;
}

.text3{
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 70px;
    border: 5px solid white;
}

.colorBlue{
    background: #246abb;
}

.colorDarkBlue{
    background: #18467b;
}